<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href=" {% static 'css/layout.css' %} " rel="stylesheet">
</head>
<body>
    <div>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <a class="nav-right" href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
            {% if user.is_authenticated %}

            <p>Hello {{user.username}} |  <a href=" {% url 'logout' %} ">Logout</a></p>
            
    
            {% else %}
    
            <p>You are not logged in  |  <a href=" {% url 'login' %} ">Login </a>|<a href=" {% url 'signup' %} ">Sign Up </a></p>
            {% endif %}
        </header>
    </div>
    
    <div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>